/*
 * Branding styles
 */

.brand-font {
    font-family: 'museo_slab500';
}

.brand-menu-header {
    color: #444;
}

/*
 * Blog and post styles
 */

.post-list {
    list-style-type: none;
}

.post-link {
    text-decoration: none;
}

.post-container {
    padding-left: 10px;
    padding-right: 10px;
}

/*
 * Other
 */

.commit-message {
    font-size: 75%;
    padding: 10px;
}
