/*
 * Branding styles
 */
.font-brand {
    font-family: 'museo_slab500';
}

.color-primary {
    color: #AD655F; /* Marsala, or similar */
}

.color-secondary {
    color: #444;
}

a {
    text-decoration: none;
}

/*
 * Blog and post styles
 */


.post-preview {
    padding: 5px;
    margin-bottom: 10px;
    border-style: solid;
}

.post-list {
    list-style-type: none;
}

.post-link {
    text-decoration: none;
}

.post-container {
    padding-top: 15px;
    padding-left: 25px;
}

/*
 * Other
 */
