<div class="footer">
    <div class="container">


        <div class="page-header">
            <h1>Dongs.</h1>
        </div>

        <div class="col-md-4">
            <ul>
                <li>{{ site.title }}</li>
                <li><a href="mailto:{{ site.email }}">Email Nick</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul>
                <li>
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <span class="fa fa-twitter">  {{ site.twitter_username }}</span>
                </a>
                </li>
            </ul>
            </div>

            <div class="col-md-4">
                <p>{{ site.description }}</p>
            </div>

        </div>
    </div>

</footer>
