<header>
    <button class="pure-button">
        <i class=" fa fa-bars fa-4"></i>
    </button>
    <div id="menu">
        <div class="pure-menu pure-menu-open pure-u-2-5">
            <a class="pure-menu-heading" href="#">ND</a>
            <!--
            <a href="#menu" id="menuLink" class="menu-link">Toggle.</a>
            -->
            <ul>
                <li><a href="/Genesis">Genesis</a></li>
                <li><a href="/Stuff">Stuff</a></li>
                <li><a href="/Things">Things</a></li>
            </ul>
        </div>
    </div>
</header>
